{% extends "bootstrap/base.html" %}
{% block title %}Movie Search Engine{% endblock %}
 
{% block content %}

<style>
div {
  padding-top: 175px;
}
</style>

<div class="container text-center">
    <form method="get" action="{{ url_for('results') }}">
        <div class="form">
            <input type="text" name="query" placeholder="Query?" /><br />
                <input type="text" name='afterYear' placeholder="Min Year">
                <input type="text" name='beforeYear' placeholder="Max Year">
					<input type="text" name='withDir' placeholder="Director">
                    <input class="form-check-input" type="checkbox" value="checked" name="fuzzycheck">
                    <label class="form-check-label" for="fuzzycheck">
                        Fuzzy Search
                    </label>
                    <button class="btn btn-default">Search</button>
                    </div>

                        </div>
                </form>
        </div>

{% endblock %}