{% extends "bootstrap/base.html" %}
{% block title %}Movie Search Engine{% endblock %}
 
{% block content %}

<div class="jumbotron text-center">
        <div class="container text-center">
                <form method="get" action="{{ url_for('results') }}">
                        <div class="form">
							<input type="text" name="query" placeholder="Query?" /><br />
							<input type="text" name='afterYear' placeholder="Min Year">
							<input type="text" name='beforeYear' placeholder="Max Year"/>
							<input type="text" name='withDir'/ placeholder="Director">
                            <button class="btn btn-default">Search</button>
                        </div>
                </form>
        </div>
</div>

{% endblock %}